<h1> Welcome!</h1>

[![Typing SVG](https://readme-typing-svg.herokuapp.com/?lines=Hi,+I'm+{{name}};Currently+in+{{city}},+{{state}}+({{coutnry}}))](https://git.io/typing-svg)

Hi, I'm {{name}}.
I currently reside in {{city}}, {{state}} ({{country}}).

## Live Weather
- {{weather}}
- {{temperature}} degrees fahrenheit

*This README was last refreshed {{date}}.*
