[![Typing SVG](https://readme-typing-svg.herokuapp.com/?&font=JetBrains+Mono&color=cbc6c0&multiline=true&lines=A+foo+wakls+into+a+bar...;PROGRAM+EXITED+WITH+CODE+127)](https://git.io/typing-svg)

[![Language Usage](https://github-readme-stats.vercel.app/api/top-langs/?hide_title=true&layout=compact&username=carlcidromero&theme=github_dark)](https://github.com/anuraghazra/github-readme-stats)

<h3>Live Weather</h3>
  <ul>
    <li>{{weather}}</li>
    <li>{{temperature}} degrees fahrenheit</li>
  </ul>

*This README was last refreshed {{date}} using [GitHub Actions](https://github.com/features/actions)*
