<h1> Welcome!</h1>

[![Typing SVG](https://readme-typing-svg.herokuapp.com/?font=JetBrains+Mono&color=ffffff&multiline=true&lines=Hi,+I'm+Carl+(aka+Cid);Location:+{{city}}+{{state}}+({{country}}))](https://git.io/typing-svg)

<h3>Live Weather</h3>
  <ul>
    <li>{{weather}}</li>
    <li>{{temperature}} degrees fahrenheit</li>
  </ul>

*This README was last refreshed {{date}}.*
